body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
  color: white;
  font-family: poppinsregular;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title {
  flex-direction: column;
  line-height: 10px;
}

li {
  display: inline-block;
  justify-content: space-evenly;
  margin: 20px
}

a {
  color: white;
  text-decoration: none;
}

.a-botao { 
  background-color: royalblue;
}

a:hover {
  color: rgba(2,0,36,1);;
  transition: 0.3s all;
}

#inscreva-se-botao {
  border: 2px solid rgba(2,0,36,1);
  padding: 10px;
  border-radius: 15px;
}

#inscreva-se-botao:hover {
  background-color: rgba(2,0,36,1);
  color: white;
  height: 50px;
  width: 50%;
}

.a-botao {
  border-radius: 20px;
  margin-top: 10px;
  padding: 15px;
  border: none;
  width: 10%;
  line-height: 50px;
  height: 20px;
}

#botao-linkedin:hover {
  background-color: rgba(2,0,36,1);
  color: white;
  height: 50px;
  width: 50%;
}

#botao-github:hover {
  background-color: rgba(2,0,36,1);
  color: white;
  height: 50px;
  width: 50%;
}

h1 {
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

h2 {
  font-size: 56px;
  line-height: 10px;
  font-family: poppinsmedium;
}

span {
  color: royalblue;
  line-height: 20px;
}

p {
  line-height: 25px;
  max-width: 500px;
  font-family: poppinslight;
}

img {
  width: 700px;
  height: 450px;
  margin-left: 85px;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"] {
  height: 50px;
  width: 50%;
  background-color: royalblue;
  color: #ffffff;
  font-weight: bold;
}

form [type="submit"]:hover {
 cursor: pointer;
 background-color: rgba(2,0,36,1);
}

input {
  margin-top: 10px;
  height: 15px;
  padding: 15px;
  border-radius: 20px;
  border: none;
 }

 footer {
  display: flex;
  align-items: center;
  justify-content: center;
 }

